<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tomclaw.appsend_rb">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:remove="android:maxSdkVersion" />
    <uses-permission
        android:name="android.permission.QUERY_ALL_PACKAGES"
        tools:remove="android:maxSdkVersion"
        tools:ignore="QueryAllPackagesPermission" />
    <uses-permission
        android:name="android.permission.REQUEST_INSTALL_PACKAGES"
        tools:remove="android:maxSdkVersion" />
    <uses-permission
        android:name="android.permission.REQUEST_DELETE_PACKAGES"
        tools:remove="android:maxSdkVersion" />

    <application
        android:name="com.tomclaw.appsend_rb.App"
        android:fullBackupContent="@xml/appcenter_backup_rule"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="com.microsoft.appcenter.android.appIdentifier"
            android:value="${APPCENTER_APP_ID}" />

        <activity
            android:name=".screen.apps.AppsActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screen.about.AboutActivity"
            android:label="@string/info" />
        <activity
            android:name="com.tomclaw.appsend_rb.SettingsActivity"
            android:label="@string/settings" />
        <activity
            android:name="com.tomclaw.appsend_rb.DonateActivity"
            android:label="@string/donate" />
        <activity
            android:name="com.tomclaw.appsend_rb.PermissionsActivity"
            android:label="@string/required_permissions" />
    </application>
</manifest>
