<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tomclaw.appteka">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:remove="android:maxSdkVersion" />
    <uses-permission
        android:name="android.permission.REQUEST_INSTALL_PACKAGES"
        tools:remove="android:maxSdkVersion" />

    <application
        android:name="com.tomclaw.appteka.Appteka"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="net.hockeyapp.android.appIdentifier"
            android:value="${HOCKEYAPP_APP_ID}" />
        <meta-data
            android:name="com.yahoo.flurry.appIdentifier"
            android:value="${FLURRY_APP_ID}" />

        <activity
            android:name="com.tomclaw.appteka.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tomclaw.appteka.AboutActivity"
            android:label="@string/info" />
        <activity
            android:name="com.tomclaw.appteka.SettingsActivity"
            android:label="@string/settings" />
        <activity
            android:name="com.tomclaw.appteka.DonateActivity"
            android:label="@string/donate" />
        <activity
            android:name="com.tomclaw.appteka.PermissionsActivity"
            android:label="@string/required_permissions" />
        <activity
            android:name="com.tomclaw.appteka.AbuseActivity"
            android:label="@string/abuse" />
    </application>
</manifest>
